.sliding-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
  }
  
  .sliding-toggle input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    transition: .4s;
    border-radius: 10px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #0EA5E9; /* tailwind bg-sky-500 */
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0EA5E9;
  }
  
  input:checked + .slider:before {
    transform: translateX(40px);
  }
  
  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  