@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-container {
  margin-top: 20px; /* Adjust as needed */
}

body {
  height: 100vh;
  background: #FECACA; /* tailwind bg-red-200 */ 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.5s ease;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.wrapper {
  background: #F1F5F9; /* tailwind bg-slate-100 */
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transition: background-color 0.5s ease;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background: #e9f0f4;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
  transition: background-color 0.5s ease;
}

.button:hover {
  border: 2px solid #242424; 
}

.equals {
  background: #34D399; /* bg-emerald-400 */
  grid-column: 3/5;
  transition: background-color 0.5s ease;
}

.operation {
  background: #FB923C; /* bg-orange-400 */
  transition: background-color 0.5s ease;
}

/* Night mode themes */
body.night-mode {
  background-color: #1F2937; /* tailwind bg-gray-800 */ 
}

.app.night-mode .wrapper {
  background-color: #111827; /* tailwind bg-gray-900 */
  color: #E5E7EB; /* tailwind bg-gray-200 */
}

.app.night-mode .button {
  background: #0e131e; 
  color: #E5E7EB;
}

.app.night-mode .equals {
  background: #0C4A6E; /* tailwind bg-sky-900 */
}

.app.night-mode .operation {
  background: #0369A1; /* tailwind bg-sky-700 */
}

/* Button animation */
.button:active {
  animation: buttonClickAnimation 0.2s ease-out;
}

@keyframes buttonClickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}